<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hair Salon</title>
  </head>
  <body>
    <h1>Edit for {{client.getName}}:</h1>
    <form action="/newlist/{{client.getStylistId}}" method="post">
        <input type="hidden" name="_method" value="patch">

        <label for="name">Change the name to:</label>
        <input type="text" name="name">
        <input type="hidden" name="client_id" value="{{client.getId}}">

        <button type="submit">Update</button>
    </form>
  </body>
</html>
