<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hair Salon</title>
        <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>

    </head>
    <body>
        <div class="container-fluid">
            <h2>Enter a new stylist name for the hair salon:</h2>

            <form action="" method="post">
                <label for="type">Add name:</label>
                <input type="text" name="name" required>
                <button type="submit">Submit</button>
            </form>
            {%if stylists is not empty%}
            <h4>List of stylists:</h4>
            <ul>
                {%for stylist in stylists%}
                    <li><a href="/stylist/{{stylist.getId}}">{{stylist.getName}}</a></li>
                {%endfor%}
            </ul>
            {%endif%}

        </div>
    </body>
</html>
